<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>Barkingham Palace</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <!-- Bulma Version 0.9.0-->
    <link rel='stylesheet' href='https://unpkg.com/bulma@0.9.0/css/bulma.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <link rel='stylesheet' href='https://kingsora.github.io/OverlayScrollbars/etc/os-theme-thin-dark.css'>	  
    <link rel="stylesheet" href="../../assets/css/cheatsheet.css">
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-12">
            <div class="container content">
              <img src="../../assets/images/Barkingham.png" />
              <h1 class="title">Your Pet's Purfect Getaway</h1>
              <h3 class="subtitle">
              The most snuggle-worthy pet daycare in the world!
              </h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section="section">
      <div class="container">
        <div class="columns">
          <div class="column is-3">
            {{#if loggedIn}}
            <button class="button-logout" id="logout">Logout</button>
            {{else}}
            <a href="../login.handlebars"></a>
            {{/if}}
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-3">
            <aside class="is-medium menu">
          <p class="menu-label">
            Choose a Search Category
          </p>
          <ul class="menu-list">
            <li class="is-right"><a href="#const" class="is-active">By Owner</a></li>
            <li><a href="#let" class="is-active">Cats</a></li>
            <li><a href="#let" class="is-active">Dogs</a></li>
          </ul>
            </aside>
          </div>
          <div class="column is-9">
            <div class="content is-medium">
          <h3 class="title is-3">Pets</h3>
              <div class="box">
                <article class="cats_list">
                  <div class="message-body">
                    {{{ body }}}
                  </div>
                </article>
             
            </div>
      </div>
    </div>
  </div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>  
    
<script>
  window.addEventListener('resize', () => {
  const divs = document.querySelectorAll(".menu-list");
  if (window.innerWidth < 768){
    divs.forEach(div => div.classList.add("tags"));
  }
  else {
    divs.forEach(div => div.classList.remove("tags"));
  }
});
  
  document.addEventListener("DOMContentLoaded", function() {
	//The first argument are the elements to which the plugin shall be initialized
	//The second argument has to be at least a empty object or a object with your desired options
	OverlayScrollbars(document.querySelectorAll("body"), { });
});

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
  
</script>  
</body>
</html>